/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: left !important;
}

/* line 26, ../sass/screen.scss */
body {
  background-color: #F9F9F9;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
/* line 32, ../sass/screen.scss */
body.special-body {
  background-color: black;
}

/* line 38, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/screen.scss */
.articles-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 700px) {
  /* line 42, ../sass/screen.scss */
  .articles-wrapper {
    max-width: 100%;
  }
}
/* line 51, ../sass/screen.scss */
.articles-wrapper.special-wrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: black;
}

/* line 59, ../sass/screen.scss */
#rakett-gutt {
  z-index: 3;
}

/* line 64, ../sass/screen.scss */
.main-navigation {
  background-color: black;
  border-bottom: 1px solid white;
}

/* line 69, ../sass/screen.scss */
.categories {
  display: inline-block;
}
/* line 71, ../sass/screen.scss */
.categories li {
  color: white;
  display: inline-block;
}
/* line 74, ../sass/screen.scss */
.categories li a {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 20px 10px;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 84, ../sass/screen.scss */
.categories li a:hover {
  color: #e97ded;
}
@media only screen and (max-width: 700px) {
  /* line 69, ../sass/screen.scss */
  .categories {
    display: block;
    text-align: center;
  }
  /* line 94, ../sass/screen.scss */
  .categories li a {
    font-size: 14px;
  }
}

/* line 102, ../sass/screen.scss */
.social {
  display: inline-block;
  float: right;
}
/* line 105, ../sass/screen.scss */
.social li {
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  /* line 102, ../sass/screen.scss */
  .social {
    float: none;
    display: block;
    text-align: center;
  }
}

/* line 115, ../sass/screen.scss */
.social-icon {
  background-image: url(../img/social.png);
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: block;
  background-size: auto 100%;
  margin: 14px 10px;
}
/* line 128, ../sass/screen.scss */
.social-icon.youtube {
  background-position: 25% 0;
}
/* line 131, ../sass/screen.scss */
.social-icon.github {
  background-position: 50% 0;
}
/* line 134, ../sass/screen.scss */
.social-icon.rss {
  background-position: 75% 0;
}
/* line 137, ../sass/screen.scss */
.social-icon.mail {
  background-position: 100% 0;
}

/* line 142, ../sass/screen.scss */
#rakett-gutt-small {
  width: 280px;
  opacity: 0.6;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: calc(-280px/2);
  z-index: 2;
}

/* line 152, ../sass/screen.scss */
#rakett-gutt-smaller {
  width: 200px;
  opacity: 0.4;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: calc(-200px/2);
  z-index: 1;
}

/* line 163, ../sass/screen.scss */
.articles-content {
  background-color: #fafafa;
}

/* line 167, ../sass/screen.scss */
.header {
  z-index: 2000;
  width: 100%;
  height: 186px;
  margin: 0 auto;
  color: #fff;
  background-image: url("../img/rakettgutt-header-background-2.jpg");
  background-color: black;
  padding: 25px;
  padding-bottom: 0;
  pointer-events: none;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 700px) {
  /* line 167, ../sass/screen.scss */
  .header {
    background-size: cover !important;
    background-position: center top;
    height: 148px;
  }
}
/* line 184, ../sass/screen.scss */
.header .logo {
  position: relative;
  display: block;
  margin-top: 10px;
}
/* line 188, ../sass/screen.scss */
.header .logo img {
  position: relative;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 700px) {
  /* line 188, ../sass/screen.scss */
  .header .logo img {
    max-width: 100%;
  }
}
/* line 196, ../sass/screen.scss */
.header .logo:after {
  content: "Bloggen for geeks. Oppdatert daglig";
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 20px;
  text-align: center;
  top: 100%;
}

/* line 209, ../sass/screen.scss */
.super {
  position: relative;
  width: 100%;
  height: 623px;
  margin: 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  /* line 209, ../sass/screen.scss */
  .super {
    height: 550px;
  }
}
/* line 219, ../sass/screen.scss */
.super > span {
  display: none;
}
/* line 223, ../sass/screen.scss */
.super .gradient-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
/* line 232, ../sass/screen.scss */
.super .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover !important;
  background-position: center center;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
@media only screen and (max-width: 700px) {
  /* line 232, ../sass/screen.scss */
  .super .cover {
    background-position: top center;
  }
}
/* line 245, ../sass/screen.scss */
.super .cover.video video {
  position: absolute;
  min-height: 110%;
  min-width: 110%;
  max-width: 150%;
  max-height: 150%;
  left: -5%;
  top: -5%;
}
@media only screen and (max-width: 700px) {
  /* line 245, ../sass/screen.scss */
  .super .cover.video video {
    display: none;
  }
}
/* line 261, ../sass/screen.scss */
.super .article {
  position: relative;
  overflow: hidden;
}
/* line 266, ../sass/screen.scss */
.super h1 {
  letter-spacing: 0;
  color: #fff;
  font-weight: thin;
  text-align: center;
}
/* line 273, ../sass/screen.scss */
.super h1 span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline;
}
/* line 279, ../sass/screen.scss */
.super h4 {
  letter-spacing: 0;
  color: #fff;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  /* line 279, ../sass/screen.scss */
  .super h4 {
    display: none;
  }
}
/* line 288, ../sass/screen.scss */
.super h4 span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 10px 8px 10px;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 300, ../sass/screen.scss */
.super .headline {
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-right: 20px solid transparent;
}
@media only screen and (max-width: 700px) {
  /* line 300, ../sass/screen.scss */
  .super .headline {
    left: 2px;
    border-right: 2px solid transparent;
    bottom: 2px;
  }
}
/* line 315, ../sass/screen.scss */
.super.five.most-read .first {
  height: 50%;
}
/* line 319, ../sass/screen.scss */
.super.five .first {
  width: 50%;
  float: left;
  height: 60%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 326, ../sass/screen.scss */
.super.five .first h1 {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
@media only screen and (max-width: 700px) {
  /* line 326, ../sass/screen.scss */
  .super.five .first h1 {
    text-transform: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
  }
}
/* line 337, ../sass/screen.scss */
.super.five .first h1 span {
  background-color: rgba(148, 14, 105, 0.8);
  box-shadow: 10px 0 0 rgba(148, 14, 105, 0.8), -10px 0 0 rgba(148, 14, 105, 0.8);
}
/* line 347, ../sass/screen.scss */
.super.five .second {
  width: 50%;
  float: left;
  height: 60%;
  border-bottom: 1px solid white;
}
/* line 354, ../sass/screen.scss */
.super.five .second h1 {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
/* line 359, ../sass/screen.scss */
.super.five .second h1 span {
  background-color: rgba(72, 96, 13, 0.8);
  box-shadow: 10px 0 0 rgba(72, 96, 13, 0.8), -10px 0 0 rgba(72, 96, 13, 0.8);
}
@media only screen and (max-width: 700px) {
  /* line 354, ../sass/screen.scss */
  .super.five .second h1 {
    text-transform: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
  }
}
/* line 373, ../sass/screen.scss */
.super.five .three-row {
  display: flex;
  width: 100%;
  height: 100%;
}
/* line 377, ../sass/screen.scss */
.super.five .three-row .article {
  width: 34%;
  height: 40%;
}
/* line 380, ../sass/screen.scss */
.super.five .three-row .article h1 {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 800;
}
@media only screen and (max-width: 700px) {
  /* line 380, ../sass/screen.scss */
  .super.five .three-row .article h1 {
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
}
/* line 393, ../sass/screen.scss */
.super.five .three-row .article:nth-child(1) {
  border-right: 1px solid white;
}
/* line 398, ../sass/screen.scss */
.super.five .three-row .article:nth-child(1) h1 span {
  background-color: rgba(159, 11, 56, 0.8);
  box-shadow: 10px 0 0 rgba(159, 11, 56, 0.8), -10px 0 0 rgba(159, 11, 56, 0.8);
}
/* line 404, ../sass/screen.scss */
.super.five .three-row .article:nth-child(2) {
  border-right: 1px solid white;
}
/* line 409, ../sass/screen.scss */
.super.five .three-row .article:nth-child(2) h1 span {
  background-color: rgba(4, 99, 169, 0.8);
  box-shadow: 10px 0 0 rgba(4, 99, 169, 0.8), -10px 0 0 rgba(4, 99, 169, 0.8);
}
/* line 419, ../sass/screen.scss */
.super.five .three-row .article:nth-child(3) h1 span {
  background-color: rgba(53, 28, 46, 0.8);
  box-shadow: 10px 0 0 rgba(53, 28, 46, 0.8), -10px 0 0 rgba(53, 28, 46, 0.8);
}

/* line 428, ../sass/screen.scss */
.row-1 {
  padding: 10px 0 10px 0;
}
/* line 429, ../sass/screen.scss */
.row-1 .row-header-logo {
  color: #783f68;
}
/* line 433, ../sass/screen.scss */
.row-1 .row-1-articles {
  width: 66.66%;
  float: left;
}
@media only screen and (max-width: 700px) {
  /* line 433, ../sass/screen.scss */
  .row-1 .row-1-articles {
    width: 100%;
  }
}
/* line 439, ../sass/screen.scss */
.row-1 .row-1-articles .article {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
/* line 443, ../sass/screen.scss */
.row-1 .row-1-articles .article .cover {
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover !important;
  position: relative;
}
@media only screen and (max-width: 700px) {
  /* line 443, ../sass/screen.scss */
  .row-1 .row-1-articles .article .cover {
    background-position: top center;
  }
}
/* line 453, ../sass/screen.scss */
.row-1 .row-1-articles .article .cover h4 {
  position: absolute;
  bottom: 0;
}
/* line 456, ../sass/screen.scss */
.row-1 .row-1-articles .article .cover h4 span {
  display: inline-block;
  padding: 4px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 10px;
  font-weight: thin;
}
/* line 467, ../sass/screen.scss */
.row-1 .row-1-articles .article .headline {
  padding: 16px 16px 16px 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4b4b4b;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  zoom: 1;
}
@media only screen and (max-width: 700px) {
  /* line 467, ../sass/screen.scss */
  .row-1 .row-1-articles .article .headline {
    padding: 16px 6px 16px 6px;
  }
}
/* line 481, ../sass/screen.scss */
.row-1 .row-1-articles .article h1 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4c4d4f;
  display: block;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  zoom: 1;
}
@media only screen and (max-width: 700px) {
  /* line 481, ../sass/screen.scss */
  .row-1 .row-1-articles .article h1 {
    font-size: 20px;
    line-height: 21px;
  }
}
/* line 501, ../sass/screen.scss */
.row-1 .row-1-articles .article p {
  color: #4b4b4b;
  font-size: 15px;
}
/* line 505, ../sass/screen.scss */
.row-1 .row-1-articles .article:nth-child(2n+1) {
  padding-right: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 505, ../sass/screen.scss */
  .row-1 .row-1-articles .article:nth-child(2n+1) {
    padding-right: 2px;
  }
}
/* line 511, ../sass/screen.scss */
.row-1 .row-1-articles .article:nth-child(2n+2) {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 511, ../sass/screen.scss */
  .row-1 .row-1-articles .article:nth-child(2n+2) {
    padding-right: 0;
    padding-left: 2px;
  }
}
/* line 521, ../sass/screen.scss */
.row-1 .row-1-reviews {
  width: 33.33%;
  float: left;
  vertical-align: top;
  padding-left: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 521, ../sass/screen.scss */
  .row-1 .row-1-reviews {
    width: 100%;
  }
}
/* line 532, ../sass/screen.scss */
.row-1 .row-1-reviews .article {
  border-bottom: 1px dashed white;
  width: 100%;
  background-color: #e4e7ea;
}
/* line 536, ../sass/screen.scss */
.row-1 .row-1-reviews .article .cover {
  display: block;
  width: 100%;
  height: 170px;
  background-size: cover !important;
}
/* line 543, ../sass/screen.scss */
.row-1 .row-1-reviews .article .headline {
  padding: 16px 16px 16px 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4b4b4b;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  zoom: 1;
}
/* line 555, ../sass/screen.scss */
.row-1 .row-1-reviews .article h1 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4c4d4f;
  display: block;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  zoom: 1;
}
/* line 571, ../sass/screen.scss */
.row-1 .row-1-reviews .article p {
  color: #4b4b4b;
  font-size: 15px;
}
/* line 576, ../sass/screen.scss */
.row-1 .row-1-reviews .article:nth-child(1n+2) {
  padding: 10px 15px;
  min-height: 80px;
}
/* line 579, ../sass/screen.scss */
.row-1 .row-1-reviews .article:nth-child(1n+2) .headline {
  padding: 0;
}
/* line 582, ../sass/screen.scss */
.row-1 .row-1-reviews .article:nth-child(1n+2) .cover {
  width: 80px;
  height: 60px;
  float: left;
  margin-right: 15px;
}
/* line 588, ../sass/screen.scss */
.row-1 .row-1-reviews .article:nth-child(1n+2) h1 {
  font-size: 15px;
  color: #4c4d4f;
  vertical-align: top;
  line-height: 22px;
  margin-bottom: 0;
}

/* line 599, ../sass/screen.scss */
.video-row {
  background-color: black;
  overflow: hidden;
}
/* line 602, ../sass/screen.scss */
.video-row .video-playlist-container {
  overflow: visible;
  display: block;
  position: relative;
}
/* line 607, ../sass/screen.scss */
.video-row .video-playlist-inner {
  display: inline-flex;
}
/* line 610, ../sass/screen.scss */
.video-row .data-video {
  position: absolute;
  padding: 20px;
}
/* line 614, ../sass/screen.scss */
.video-row .data-video img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
/* line 620, ../sass/screen.scss */
.video-row .data-video .play-button {
  opacity: 0.5;
}
/* line 624, ../sass/screen.scss */
.video-row .data-video.active img {
  opacity: 1;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
/* line 630, ../sass/screen.scss */
.video-row .data-video.active .play-button {
  opacity: 1;
}
/* line 634, ../sass/screen.scss */
.video-row .data-video.active:hover img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 641, ../sass/screen.scss */
.video-row .data-video img {
  max-width: 100%;
}

/* line 646, ../sass/screen.scss */
.player-wrapper {
  position: relative;
}
/* line 648, ../sass/screen.scss */
.player-wrapper .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}
/* line 658, ../sass/screen.scss */
.player-wrapper .cover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
  z-index: 10;
}
/* line 669, ../sass/screen.scss */
.player-wrapper .headline {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 0 20% 0 20%;
  z-index: 11;
}
/* line 675, ../sass/screen.scss */
.player-wrapper .headline .kicker {
  position: relative;
}
/* line 677, ../sass/screen.scss */
.player-wrapper .headline .kicker span {
  background: #3ab0dd;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  display: inline-block;
  color: white;
  box-shadow: 20px 0 0 #3ab0dd, -20px 0 0 #3ab0dd;
  margin-left: 20px;
  padding: 8px;
  text-transform: uppercase;
}
/* line 689, ../sass/screen.scss */
.player-wrapper .headline h2 {
  position: relative;
  color: white;
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
}

/* line 700, ../sass/screen.scss */
.row-3 {
  padding: 10px 0 10px 0;
}
/* line 703, ../sass/screen.scss */
.row-3 .row-3-articles .article {
  width: 33.33%;
  float: left;
  margin-bottom: 20px;
}
/* line 707, ../sass/screen.scss */
.row-3 .row-3-articles .article .cover {
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover !important;
  position: relative;
}
/* line 713, ../sass/screen.scss */
.row-3 .row-3-articles .article .cover h4 {
  position: absolute;
  bottom: 0;
}
/* line 716, ../sass/screen.scss */
.row-3 .row-3-articles .article .cover h4 span {
  display: inline-block;
  padding: 4px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 10px;
  font-weight: thin;
}
@media only screen and (max-width: 700px) {
  /* line 707, ../sass/screen.scss */
  .row-3 .row-3-articles .article .cover {
    background-position: top center;
  }
}
/* line 730, ../sass/screen.scss */
.row-3 .row-3-articles .article .headline {
  padding: 16px 16px 16px 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4b4b4b;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  zoom: 1;
}
@media only screen and (max-width: 700px) {
  /* line 730, ../sass/screen.scss */
  .row-3 .row-3-articles .article .headline {
    padding: 16px 6px 16px 6px;
  }
}
/* line 744, ../sass/screen.scss */
.row-3 .row-3-articles .article h1 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4c4d4f;
  display: block;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  zoom: 1;
}
@media only screen and (max-width: 700px) {
  /* line 744, ../sass/screen.scss */
  .row-3 .row-3-articles .article h1 {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
  }
}
/* line 764, ../sass/screen.scss */
.row-3 .row-3-articles .article p {
  color: #4b4b4b;
  font-size: 15px;
}
/* line 768, ../sass/screen.scss */
.row-3 .row-3-articles .article:nth-child(1) {
  padding-right: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 768, ../sass/screen.scss */
  .row-3 .row-3-articles .article:nth-child(1) {
    padding-right: 2px;
  }
}
/* line 774, ../sass/screen.scss */
.row-3 .row-3-articles .article:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 774, ../sass/screen.scss */
  .row-3 .row-3-articles .article:nth-child(2) {
    padding-right: 2px;
    padding-left: 2px;
  }
}
/* line 782, ../sass/screen.scss */
.row-3 .row-3-articles .article:nth-child(3) {
  padding-left: 5px;
}
@media only screen and (max-width: 700px) {
  /* line 782, ../sass/screen.scss */
  .row-3 .row-3-articles .article:nth-child(3) {
    padding-left: 2px;
  }
}

/* line 792, ../sass/screen.scss */
.play-button-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 14;
  display: block;
  -moz-transition: 0.25 ease-in-out;
  -o-transition: 0.25 ease-in-out;
  -webkit-transition: 0.25 ease-in-out;
  transition: 0.25 ease-in-out;
  text-align: center;
  cursor: pointer;
}
/* line 804, ../sass/screen.scss */
.play-button-container .play-button {
  width: 25%;
  max-width: 135px;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%22170%22%20height%3D%22170%22%20viewBox%3D%220%200%20170%20170%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23ccc%3B%20%20%20%20%20%20%20%20stroke%3A%20%23fff%3B%20%20%20%20%20%20%20%20stroke-width%3A%202px%3B%20%20%20%20%20%20%20%20filter%3A%20url%28%23outer-glow-1%29%3B%20%20%20%20%20%20%20%20fill-opacity%3A%200.3%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%20%20opacity%3A%200.9%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%20%20%3Cfilter%20id%3D%22outer-glow-1%22%20filterUnits%3D%22userSpaceOnUse%22%3E%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222.667%22%20in%3D%22SourceAlpha%22%2F%3E%20%20%20%20%20%20%3CfeComposite%2F%3E%20%20%20%20%20%20%3CfeComposite%2F%3E%20%20%20%20%20%20%3CfeComposite%20result%3D%22outerGlowBlur%22%2F%3E%20%20%20%20%20%20%3CfeFlood%20flood-opacity%3D%220.03%22%2F%3E%20%20%20%20%20%20%3CfeComposite%20operator%3D%22in%22%20in2%3D%22outerGlowBlur%22%2F%3E%20%20%20%20%20%20%3CfeBlend%20in2%3D%22SourceGraphic%22%20result%3D%22outerGlow%22%2F%3E%20%20%20%20%20%20%3CfeComposite%20in%3D%22SourceGraphic%22%20result%3D%22shadowed%22%2F%3E%20%20%20%20%3C%2Ffilter%3E%20%20%3C%2Fdefs%3E%20%20%3Cg%3E%20%20%20%20%3Ccircle%20cx%3D%2284.5%22%20cy%3D%2284.5%22%20r%3D%2276.5%22%20class%3D%22cls-1%22%2F%3E%20%20%20%20%3Cpath%20d%3D%22M68.188%2C110.624%20L107.566%2C82.665%20L68.188%2C54.707%20L68.188%2C110.624%20Z%22%20class%3D%22cls-2%22%2F%3E%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}
/* line 815, ../sass/screen.scss */
.play-button-container:hover .play-button {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%22170%22%20height%3D%22170%22%20viewBox%3D%220%200%20170%20170%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23000%3B%20%20%20%20%20%20%20%20stroke%3A%20%23fff%3B%20%20%20%20%20%20%20%20stroke-width%3A%202px%3B%20%20%20%20%20%20%20%20filter%3A%20url%28%23outer-glow-1%29%3B%20%20%20%20%20%20%20%20fill-opacity%3A%200.3%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23fff%3B%20%20%20%20%20%20%20%20opacity%3A%200.9%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%20%20%3Cfilter%20id%3D%22outer-glow-1%22%20filterUnits%3D%22userSpaceOnUse%22%3E%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222.667%22%20in%3D%22SourceAlpha%22%2F%3E%20%20%20%20%20%20%3CfeComposite%2F%3E%20%20%20%20%20%20%3CfeComposite%2F%3E%20%20%20%20%20%20%3CfeComposite%20result%3D%22outerGlowBlur%22%2F%3E%20%20%20%20%20%20%3CfeFlood%20flood-opacity%3D%220.03%22%2F%3E%20%20%20%20%20%20%3CfeComposite%20operator%3D%22in%22%20in2%3D%22outerGlowBlur%22%2F%3E%20%20%20%20%20%20%3CfeBlend%20in2%3D%22SourceGraphic%22%20result%3D%22outerGlow%22%2F%3E%20%20%20%20%20%20%3CfeComposite%20in%3D%22SourceGraphic%22%20result%3D%22shadowed%22%2F%3E%20%20%20%20%3C%2Ffilter%3E%20%20%3C%2Fdefs%3E%20%20%3Cg%3E%20%20%20%20%3Ccircle%20cx%3D%2284.5%22%20cy%3D%2284.5%22%20r%3D%2276.5%22%20class%3D%22cls-1%22%2F%3E%20%20%20%20%3Cpath%20d%3D%22M68.188%2C110.624%20L107.566%2C82.665%20L68.188%2C54.706%20L68.188%2C110.624%20Z%22%20class%3D%22cls-2%22%2F%3E%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* line 822, ../sass/screen.scss */
.swiper-arrow {
  width: 25%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2265%22%20height%3D%22125%22%20viewBox%3D%220%200%2065%20125%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20stroke%3A%20%23ccc%3B%20%20%20%20%20%20%20%20stroke-width%3A%205px%3B%20%20%20%20%20%20%20%20fill%3A%20none%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20d%3D%22M62.494%2C122.499%20L2.498%2C62.503%20L62.494%2C2.507%20%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E");
  background-position: 35% center;
}
/* line 834, ../sass/screen.scss */
.swiper-arrow:hover {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2265%22%20height%3D%22125%22%20viewBox%3D%220%200%2065%20125%22%3E%20%20%3Cdefs%3E%20%20%20%20%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20stroke%3A%20%23fff%3B%20%20%20%20%20%20%20%20stroke-width%3A%205px%3B%20%20%20%20%20%20%20%20fill%3A%20none%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%20%20%3C%2Fdefs%3E%20%20%3Cpath%20d%3D%22M62.494%2C122.499%20L2.498%2C62.503%20L62.494%2C2.506%20%22%20class%3D%22cls-1%22%2F%3E%3C%2Fsvg%3E");
}

/* line 839, ../sass/screen.scss */
.swiper-arrow-right {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: 0;
  left: auto;
}

/* line 845, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 850, ../sass/screen.scss */
.row-header-logo {
  font-weight: bold;
  font-size: 30px;
  color: #f4ac0b;
  text-align: center;
  padding: 20px;
}

/* line 859, ../sass/screen.scss */
.gradient-1 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhMWVhOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxYTdkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ea1ea9), color-stop(100%, #61a7db));
  background-image: -moz-linear-gradient(top, #ea1ea9, #61a7db);
  background-image: -webkit-linear-gradient(top, #ea1ea9, #61a7db);
  background-image: linear-gradient(to bottom right, #ea1ea9, #61a7db);
}

/* line 864, ../sass/screen.scss */
.gradient-2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2Q0MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhjYmExOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fecd42), color-stop(100%, #8cba19));
  background-image: -moz-linear-gradient(top, #fecd42, #8cba19);
  background-image: -webkit-linear-gradient(top, #fecd42, #8cba19);
  background-image: linear-gradient(to bottom right, #fecd42, #8cba19);
}

/* line 868, ../sass/screen.scss */
.gradient-3 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNzgyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmMjE1ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f37826), color-stop(100%, #ef215f));
  background-image: -moz-linear-gradient(top, #f37826, #ef215f);
  background-image: -webkit-linear-gradient(top, #f37826, #ef215f);
  background-image: linear-gradient(to bottom right, #f37826, #ef215f);
}

/* line 872, ../sass/screen.scss */
.gradient-4 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OWFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IwZjAxMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #199afa), color-stop(100%, #b0f010));
  background-image: -moz-linear-gradient(top, #199afa, #b0f010);
  background-image: -webkit-linear-gradient(top, #199afa, #b0f010);
  background-image: linear-gradient(to bottom right, #199afa, #b0f010);
}

/* line 876, ../sass/screen.scss */
.gradient-5 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4M2Y2OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYxYTdkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #783f68), color-stop(100%, #61a7db));
  background-image: -moz-linear-gradient(top, #783f68, #61a7db);
  background-image: -webkit-linear-gradient(top, #783f68, #61a7db);
  background-image: linear-gradient(to bottom right, #783f68, #61a7db);
}

/* line 880, ../sass/screen.scss */
.main-article {
  position: relative;
}
/* line 882, ../sass/screen.scss */
.main-article header {
  text-align: center;
}
/* line 885, ../sass/screen.scss */
.main-article header .title {
  padding: 40px 20px 60px 20px;
}
/* line 888, ../sass/screen.scss */
.main-article header a {
  color: #506062;
}
/* line 891, ../sass/screen.scss */
.main-article header h1 {
  font-size: 62px;
  font-weight: 300;
  color: #506062;
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
}
@media only screen and (max-width: 700px) {
  /* line 891, ../sass/screen.scss */
  .main-article header h1 {
    font-size: 52px;
    line-height: 1.2;
  }
}
/* line 904, ../sass/screen.scss */
.main-article header h2 {
  font-weight: 300;
  color: #1D5471;
  margin-top: 20px;
  font-size: 25px;
}
/* line 910, ../sass/screen.scss */
.main-article header img {
  max-width: 100%;
}
/* line 913, ../sass/screen.scss */
.main-article header .published-byline {
  padding: 24px 10px;
  color: #b50284;
  font-weight: 100;
}
/* line 917, ../sass/screen.scss */
.main-article header .published-byline .time {
  margin-left: 10px;
}
/* line 919, ../sass/screen.scss */
.main-article header .published-byline .time:before {
  content: "\00B7";
  font-weight: bold;
  margin-right: 10px;
}
/* line 928, ../sass/screen.scss */
.main-article figure,
.main-article .wp-caption {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 20px;
}
/* line 934, ../sass/screen.scss */
.main-article figure img,
.main-article .wp-caption img {
  max-width: 100%;
}
/* line 937, ../sass/screen.scss */
.main-article figure figcaption,
.main-article figure .wp-caption-text,
.main-article .wp-caption figcaption,
.main-article .wp-caption .wp-caption-text {
  padding: 10px 0 10px 0;
}
@media only screen and (max-width: 700px) {
  /* line 937, ../sass/screen.scss */
  .main-article figure figcaption,
  .main-article figure .wp-caption-text,
  .main-article .wp-caption figcaption,
  .main-article .wp-caption .wp-caption-text {
    padding: 10px 10px 10px 10px;
  }
}
/* line 946, ../sass/screen.scss */
.main-article .main {
  text-align: left;
  border-right: 330px solid transparent;
  padding: 0 20px 0 20px;
}
@media only screen and (max-width: 700px) {
  /* line 946, ../sass/screen.scss */
  .main-article .main {
    border-right: 0;
  }
}
/* line 953, ../sass/screen.scss */
.main-article .main > p {
  position: relative;
  line-height: 1.7;
  font-size: 18px;
  color: #565656;
  font-family: 'Roboto', 'Open Sans';
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 300;
}
/* line 965, ../sass/screen.scss */
.main-article .main > p img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
/* line 971, ../sass/screen.scss */
.main-article .main > img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
/* line 979, ../sass/screen.scss */
.main-article .main iframe {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 986, ../sass/screen.scss */
.main-article .main .floating-inline-video {
  position: relative;
  z-index: 4000;
}
/* line 990, ../sass/screen.scss */
.main-article .main .floating-inline-video.right {
  float: right;
  margin: 20px 0 20px 20px;
}
/* line 994, ../sass/screen.scss */
.main-article .main .floating-inline-video.left {
  float: left;
  margin: 20px 20px 20px 0;
}
@media only screen and (max-width: 700px) {
  /* line 986, ../sass/screen.scss */
  .main-article .main .floating-inline-video {
    display: block;
    float: none;
    margin: 0;
  }
}
/* line 1005, ../sass/screen.scss */
.main-article .main h1, .main-article .main h2, .main-article .main h3, .main-article .main h4, .main-article .main h5, .main-article .main h6 {
  font-weight: 300;
  color: #1D5471;
  font-size: 23px;
  text-transform: uppercase;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  /* line 1005, ../sass/screen.scss */
  .main-article .main h1, .main-article .main h2, .main-article .main h3, .main-article .main h4, .main-article .main h5, .main-article .main h6 {
    padding: 0 20px 0 20px;
  }
}
/* line 1018, ../sass/screen.scss */
.main-article .main h1 img, .main-article .main h2 img, .main-article .main h3 img, .main-article .main h4 img, .main-article .main h5 img, .main-article .main h6 img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}
/* line 1025, ../sass/screen.scss */
.main-article .main a {
  text-decoration: none;
  font-weight: bold;
  color: #506062;
}
/* line 1030, ../sass/screen.scss */
.main-article .main blockquote {
  font-style: italic;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Roboto', 'Open Sans';
  color: #783f68;
  padding: 20px;
  margin: 10px 30px 10px 10px;
  max-width: 300px;
  text-transform: uppercase;
  float: right;
}

/* line 1046, ../sass/screen.scss */
.special-wrapper > header {
  width: 100%;
  position: absolute;
  border-bottom: 0;
  top: 0;
  left: 0;
  background-size: cover !important;
  padding: 10px;
  height: auto;
}
/* line 1055, ../sass/screen.scss */
.special-wrapper > header .logo {
  margin-top: 0;
  text-align: center;
}
/* line 1058, ../sass/screen.scss */
.special-wrapper > header .logo img {
  display: inline-block;
  transform: translateX(-88px);
}
/* line 1062, ../sass/screen.scss */
.special-wrapper > header .logo:after {
  content: "Spesial";
  text-transform: uppercase;
  top: -23px;
  left: 50%;
  font-weight: bold;
  margin-left: 12px;
  font-size: 34px;
  color: #fdc621;
  width: auto;
  display: inline-block;
  text-shadow: #d1241b -2px 0 1px;
}
/* line 1075, ../sass/screen.scss */
.special-wrapper > header .logo img {
  max-width: 183px;
}

/* line 1081, ../sass/screen.scss */
.special {
  height: 100%;
  width: 100%;
  background-color: black;
}
/* line 1085, ../sass/screen.scss */
.special .aside {
  display: none;
}
/* line 1089, ../sass/screen.scss */
.special .main {
  border-right: 0;
  padding: 0;
}
/* line 1095, ../sass/screen.scss */
.special .main h2 {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color: #000;
  position: relative;
  margin-bottom: 20px;
  text-shadow: #fad00d 0 0 4px;
}
@media only screen and (max-width: 700px) {
  /* line 1095, ../sass/screen.scss */
  .special .main h2 {
    padding: 0 10px 0 10px;
  }
}
/* line 1109, ../sass/screen.scss */
.special .main h3 {
  position: relative;
  text-align: left;
  font-size: 25px;
  font-weight: thin;
  color: #9e8203;
  margin-top: 70px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 700px) {
  /* line 1109, ../sass/screen.scss */
  .special .main h3 {
    padding: 0 10px 0 10px;
  }
}
/* line 1121, ../sass/screen.scss */
.special .main blockquote {
  margin: 10px -70px 10px 10px;
}
/* line 1124, ../sass/screen.scss */
.special .main figcaption {
  margin: 0 auto;
  max-width: 700px;
  line-height: 26px;
}
/* line 1129, ../sass/screen.scss */
.special .main figure {
  margin-bottom: 40px;
  margin-top: 40px;
}
/* line 1132, ../sass/screen.scss */
.special .main figure.float {
  max-width: 300px;
}
@media only screen and (max-width: 700px) {
  /* line 1132, ../sass/screen.scss */
  .special .main figure.float {
    max-width: 100%;
    margin: 0;
  }
}
/* line 1138, ../sass/screen.scss */
.special .main figure.float.right {
  float: right;
  margin: 10px -50px 10px 10px;
}
@media only screen and (max-width: 700px) {
  /* line 1138, ../sass/screen.scss */
  .special .main figure.float.right {
    float: none;
    margin: 0;
  }
}
/* line 1146, ../sass/screen.scss */
.special .main figure.float.left {
  float: left;
  margin: 10px 10px 10px -50px;
}
@media only screen and (max-width: 700px) {
  /* line 1146, ../sass/screen.scss */
  .special .main figure.float.left {
    float: none;
    margin: 0;
  }
}
/* line 1156, ../sass/screen.scss */
.special .main p {
  position: relative;
  margin: 0 auto;
  line-height: 1.7;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', 'Open Sans';
  margin-bottom: 20px;
  font-weight: 300;
}
@media only screen and (max-width: 700px) {
  /* line 1156, ../sass/screen.scss */
  .special .main p {
    padding: 0 10px 0 10px;
  }
}
/* line 1170, ../sass/screen.scss */
.special .main .special-wrap {
  max-width: 700px;
  margin: 0 auto;
}
/* line 1176, ../sass/screen.scss */
.special header {
  width: 100%;
  background-color: black;
  background-position: center center;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}
/* line 1183, ../sass/screen.scss */
.special header h1 {
  font-weight: bold;
  font-size: 88px;
  color: black;
  text-shadow: #fad00d 0 0 4px;
}
@media only screen and (max-width: 700px) {
  /* line 1183, ../sass/screen.scss */
  .special header h1 {
    font-size: 53px;
  }
}
/* line 1192, ../sass/screen.scss */
.special header h2 {
  font-size: 42px;
  color: #fad00d;
}
/* line 1196, ../sass/screen.scss */
.special header .video-cover {
  position: relative;
}
/* line 1199, ../sass/screen.scss */
.special header .backdrop-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 1206, ../sass/screen.scss */
.special header .title {
  text-align: center;
}
/* line 1210, ../sass/screen.scss */
.special .main {
  height: 100%;
  width: 100%;
}
/* line 1215, ../sass/screen.scss */
.special .layer {
  width: 100%;
  min-height: 100%;
  padding-left: 600px;
  position: relative;
  padding: 150px 0 150px 600px;
}
@media only screen and (max-width: 700px) {
  /* line 1215, ../sass/screen.scss */
  .special .layer {
    padding: 50px 0 50px 0px;
  }
}
/* line 1225, ../sass/screen.scss */
.special .layer .overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90%;
  background-size: auto 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
  opacity: 0;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 1236, ../sass/screen.scss */
.special .layer .overlay.visible {
  opacity: 1;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
@media only screen and (max-width: 700px) {
  /* line 1225, ../sass/screen.scss */
  .special .layer .overlay {
    position: relative;
    left: auto;
    bottom: auto;
    height: 400px;
    opacity: 1;
    background-position: center bottom;
  }
}
/* line 1249, ../sass/screen.scss */
.special .layer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 1261, ../sass/screen.scss */
.special .article-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 1271, ../sass/screen.scss */
.aside {
  position: absolute;
  right: 0;
  width: 330px;
  height: 1000px;
  border-left: 1px solid #f0f0f0;
}
@media only screen and (max-width: 700px) {
  /* line 1271, ../sass/screen.scss */
  .aside {
    display: none;
  }
}
/* line 1283, ../sass/screen.scss */
.aside .counter {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 0;
  background-color: #db559f;
  color: white;
  border: 2px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 10px 12px;
}
/* line 1293, ../sass/screen.scss */
.aside .counter:before {
  content: attr(data-attr);
}
/* line 1297, ../sass/screen.scss */
.aside .aside-title {
  color: #db559f;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  padding: 40px 20px 10px 20px;
}
/* line 1305, ../sass/screen.scss */
.aside .article {
  width: 100%;
  position: relative;
}
/* line 1308, ../sass/screen.scss */
.aside .article .cover {
  display: block;
  width: 100%;
  height: 170px;
  background-size: cover !important;
}
/* line 1315, ../sass/screen.scss */
.aside .article .headline {
  padding: 16px 16px 16px 16px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4b4b4b;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  zoom: 1;
}
/* line 1327, ../sass/screen.scss */
.aside .article h1 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #4c4d4f;
  display: block;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 33px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  zoom: 1;
}
/* line 1343, ../sass/screen.scss */
.aside .article p {
  color: #4b4b4b;
  font-size: 15px;
}
/* line 1348, ../sass/screen.scss */
.aside .article:nth-child(1n+1) {
  padding: 20px 15px;
  min-height: 80px;
}
/* line 1351, ../sass/screen.scss */
.aside .article:nth-child(1n+1) .headline {
  padding: 0;
}
/* line 1354, ../sass/screen.scss */
.aside .article:nth-child(1n+1) .cover {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px;
}
/* line 1360, ../sass/screen.scss */
.aside .article:nth-child(1n+1) h1 {
  font-size: 17px;
  color: #4c4d4f;
  vertical-align: top;
  line-height: 22px;
  margin-bottom: 0;
}
